<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .big{
            font-size: 30px;
        }
        .red{
            color: #f00;
        }
    </style>
</head>

<body>
    <!-- {{title}},{{sayHi}},{{obj.x}}<br>
    <span>{{sayHi}}</span> -->
    <!-- <ul><li v-for="(item,index) in arr">{{item.name}}{{index}}</li></ul> -->
    <!-- <img v-for="(item,index) in imgSrcList" :src="item" alt=""> -->
    <!-- <input v-for="(item,index) in arr" type="text" v-model='item.name'> -->
    <div id="test">
        <p :class='{big: obj.x > 0, red: obj.y > 1}'>hahaha</p>

    </div>
    <script type="module">
        import Sth from './core/index.js';
        // 这里由于是一个模块，let的变量为局部变量，控制台无法访问，这里将sth放在window下，全局即可访问
        window.sth = new Sth({
            el: 'test',
            data: {
                title: '这是标题',
                sayHi: '商天寒说：“hi~”',
                obj: {
                    x: 1,
                    y: 2
                },
                arr: [{
                    name: '商天寒',
                    age: 18
                },{
                    name: '苏煜文❤',
                    age: 18
                }],
                imgSrc: './img.jpg',
                imgSrcList: ['./img.jpg', './img.jpg'],

            },
        })
    </script>
</body>

</html>